# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/express?schema=public"

# Phone Providers API Keys
ORION_CONNECT_API_KEY="mySecretKey123"
ASTRA_DIALER_API_KEY="1234jhgf"
NIMBUS_LOOKUP_API_KEY="000099998888"

# Server Configuration
PORT=4000

# Temporal Configuration
TEMPORAL_ADDRESS="localhost:7233"
TEMPORAL_NAMESPACE="default"
TEMPORAL_TASK_QUEUE="myQueue"

# Provider Rate Limits (Max RPS)
ORION_MAX_RPS=1
ASTRA_MAX_RPS=5
NIMBUS_MAX_RPS=2